PAYMENTS_APP_HOST=127.0.0.1
PAYMENTS_APP_PORT=8000
PAYMENTS_APP_ALLOWED_HOSTS=*
PAYMENTS_APP_WORKERS_COUNT=1
PAYMENTS_APP_RELOAD=0

PAYMENTS_APP_JWT_COOKIE_DOMAIN=localhost
PAYMENTS_APP_JWT_USERS_SECRET=users_secret

PAYMENTS_APP_PAYMENTS_SECRET_KEY=payments_secret

PAYMENTS_APP_LOG_LEVEL=INFO
PAYMENTS_APP_LOG_FILE_ENABLED=0

PAYMENTS_APP_DB_HOST=localhost
PAYMENTS_APP_DB_PORT=5432
PAYMENTS_APP_DB_USER=admin
PAYMENTS_APP_DB_PASS=admin
PAYMENTS_APP_DB_BASE=payments_db
PAYMENTS_APP_DB_ECHO=0
